.-elv-embed {
  position: relative;

  &__ebook {
    background-color: #ffffff;
    height: 100%;
    padding: 0 35px;
    position: relative;
    width: 100%;

    .arrow {
      color: #000000;
      font-size: 4rem;
      height: 100%;
      position: absolute;
      user-select: none;
      vertical-align: middle;

      &.prev-button,
      &.next-button {
        background: none;
        border: 0;
        cursor: pointer;
        outline: none;
      }

      &.prev-button {
        left: 2px;
      }

      &.next-button {
        right: 2px;
      }
    }

    .epub-container {
      height: 100%;
      width: 100%;
    }
  }
}
