.-elv-embed {
  position: relative;

  &__ebook {
    align-items: center;
    background-color: #fff;
    display: flex;
    height: 100%;
    justify-content: center;
    position: relative;
    width: 100%;

    .epub-view {
      width: 100%;
    }

    .arrow {
      color: #000;
      font-size: 4rem;
      height: 100%;
      position: absolute;
      user-select: none;
      vertical-align: middle;
      z-index: 100;

      &.prev-button,
      &.next-button {
        background: none;
        border: 0;
        cursor: pointer;
        outline: none;
        padding: 1px 6px;
      }

      &.prev-button {
        left: 2px;
      }

      &.next-button {
        right: 2px;
      }
    }

    .epub-container {
      height: 100%;
      width: 100%;
    }
  }
}
