video,
#watermark {
  display: none;
}

* {
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  font-size: 16px;
}

header {
  height: 40px;
  margin: 0;
  padding: 10px 20px;

  .logo {
    filter: invert(1);
    height: 100%;
    width: auto;
  }
}

.form-container {
  padding: 25px 50px;

  h2 {
    font-size: 18px;
    font-weight: normal;
    letter-spacing: 0.08em;
    margin: 20px 0 10px;
  }
}

form {
  align-items: center;
  display: grid;
  grid-gap: 5px;
  grid-template-columns: 1fr 3fr;
  max-width: 1000px;
  width: 100%;
}

legend {
  font-size: 32px;
  font-weight: 300;
  letter-spacing: 0.035em;
  margin-bottom: 40px;
}

input,
select {
  border: 1px solid #eee;
  border-radius: 0;
  font-size: 14px;
  padding: 5px;
}

input[type="checkbox"] {
  cursor: pointer;
  height: 20px;
  margin: 10px 0;
  width: 20px;
}

select {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background: url('data:image/svg+xml;base64,PHN2ZyBpZD0iTGF5ZXJfMSIgZGF0YS1uYW1lPSJMYXllciAxIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA0Ljk1IDEwIj48ZGVmcz48c3R5bGU+LmNscy0xe2ZpbGw6I2ZmZjt9LmNscy0ye2ZpbGw6IzQ0NDt9PC9zdHlsZT48L2RlZnM+PHRpdGxlPmFycm93czwvdGl0bGU+PHJlY3QgY2xhc3M9ImNscy0xIiB3aWR0aD0iNC45NSIgaGVpZ2h0PSIxMCIvPjxwb2x5Z29uIGNsYXNzPSJjbHMtMiIgcG9pbnRzPSIxLjQxIDQuNjcgMi40OCAzLjE4IDMuNTQgNC42NyAxLjQxIDQuNjciLz48cG9seWdvbiBjbGFzcz0iY2xzLTIiIHBvaW50cz0iMy41NCA1LjMzIDIuNDggNi44MiAxLjQxIDUuMzMgMy41NCA1LjMzIi8+PC9zdmc+') no-repeat 98% 50%;
  cursor: pointer;
}

button {
  background: #fff;
  border: 1px solid #aaa;
  border-radius: 0;
  color: #000 !important;
  cursor: pointer;
  margin-top: 10px;
  padding: 10px;
}

.embed-code-container {
  margin: 150px 0;

  h2 {
    font-size: 24px;
    font-weight: normal;
    letter-spacing: 0.035em;
    margin: 0;
    padding: 20px 0;
  }
}

.embed-code {
  background: #fafafa;
  font-family: monospace;
  margin-top: 10px;
  max-width: 850px;
  padding: 30px;
  white-space: pre-wrap;
  word-break: break-all;
}
