:root {
  --carousel-item-height: 150px;
}

.app-background {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #000000;
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
}

.app {
  z-index: 1;
}

.app--gallery {
  * {
    color: #eee;
  }
}

.gallery {
  flex: 1 0 100%;
  max-width: 100vw;
  width: 100%;
  z-index: 1;

  &--with-title {
    .gallery__active-item {
      &--carousel {
        height: calc(100vh - 250px);
        max-height: calc(100vh - 250px);
        min-height: calc(100vh - 250px);
      }

      &--arrows {
        height: calc(100vh - 125px);
        max-height: calc(100vh - 125px);
        min-height: calc(100vh - 125px);
      }
    }
  }

  &__title {
    font-size: 20px;
    height: 50px;
    padding-top: 15px;
    text-align: center;
  }

  &__active-item {
    display: grid;
    grid-template-rows: max-content 1fr max-content;
    padding: 20px;
    width: 100%;

    &--carousel {
      height: calc(100vh - 200px);
      max-height: calc(100vh - 200px);
      min-height: calc(100vh - 200px);
    }

    &--arrows {
      height: calc(100vh - 75px);
      max-height: calc(100vh - 75px);
      min-height: calc(100vh - 75px);
    }

    &__content {
      height: 100%;
      margin-inline: auto;
      max-height: 100%;
      max-width: 100%;
      object-fit: contain;
      overflow: hidden;
      width: 100%;

      &.eluvio-player {
        max-width: 100%;
        width: 100%;
      }
    }

    &__info {
      padding: 20px;
      text-align: center;

      &:empty {
        padding: 0;
      }
    }

    &__name {
      font-size: 32px;
    }

    &__description {
      color: #aaa;
      font-size: 14px;
      margin-top: 5px;
    }
  }

  &__error {
    color: #f00;
  }

  &__carousel-container {
    margin-inline: 20px;
  }

  &__arrows {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    height: 75px;
  }

  &__arrow {
    border: 0;
    outline: 0;
    cursor: pointer;
    color: #2d61e4;
    background: #2d61e4;
    width: 30px;
    height: 20px;

    &:disabled {
      opacity: 0.5;
    }

    &--previous {
      clip-path: polygon(0% 50%, 100% 0%, 100% 100%);
    }

    &--next {
      clip-path: polygon(0% 0%, 0% 100%, 100% 50%);
    }
  }

  &__page {
    user-select: none;
    margin: 0 30px;
  }

  &__carousel {
    //margin: 10px;
    height: calc(#{var(--carousel-item-height)} + 50px);
    padding: 15px 0 35px;
    position: relative;
    width: auto;

    &__item {
      height: 100%;
      max-width: var(--carousel-item-height);
      width: var(--carousel-item-height);

      &--wide {
        max-width: calc(#{var(--carousel-item-height)} * 1.5);
        width: calc(#{var(--carousel-item-height)} * 1.5);
      }

      &--tall {
        max-width: calc(#{var(--carousel-item-height)} * 0.75);
        width: calc(#{var(--carousel-item-height)} * 0.75);
      }

      &__button {
        background: transparent;
        border: 1px solid #111;
        border-radius: 3px;
        cursor: pointer;
        height: 100%;
        outline: 0;
        padding: 0;
        width: 100%;
      }

      &__image {
        height: 100%;
        object-fit: cover;
        opacity: 0.5;
        transition: opacity 0.15s ease-out;
        width: 100%;

        &:hover,
        &--active {
          opacity: 1;
        }
      }
    }

    img {
      height: 100%;
      width: 100%;
    }

    .swiper-button-disabled {
      display: none;
    }

    .swiper-scrollbar {
      left: 0;
      position: absolute;
      top: 0;
      z-index: 100;

      .swiper-scrollbar-drag {
        background: #333;
        cursor: pointer;
        height: 8px;
        z-index: 100;
      }
    }
  }
}

@media screen and (min-width: 800px) {
  .app-background-mobile {
    display: none;
  }
}

@media screen and (max-width: 799px) {
  .app-background-desktop {
    display: none;
  }
}

@media
screen and (max-width: 800px),
screen and (max-height: 800px) {
  :root {
    --carousel-item-height: 100px;
  }

  .app--gallery {
    height: max-content;
    min-height: 100%;
    overflow-x: hidden;
  }

  .gallery {
    height: 100%;
    padding-bottom: 100px;
  }

  .gallery__active-item,
  .gallery--with-title .gallery__active-item {
    height: max-content;
    max-height: unset;
    max-width: 100%;
    overflow: hidden;
  }

  .gallery__active-item__content {
    max-height: 75vh;
  }
}
