:root {
  --carousel-item-height: 150px;
}

.app--gallery {
  background: #000;

  * {
    color: #eee;
  }
}

.gallery {
  flex: 1 0 100%;
  max-width: 100vw;
  width: 100%;

  &--with-title {
    .gallery__active-item {
      height: calc(100vh - 250px);
      max-height: calc(100vh - 250px);
      min-height: calc(100vh - 250px);
    }
  }

  &__title {
    font-size: 20px;
    height: 50px;
    padding-top: 15px;
    text-align: center;
  }

  &__active-item {
    display: grid;
    grid-template-rows: 1fr max-content;
    height: calc(100vh - 200px);
    max-height: calc(100vh - 200px);
    min-height: calc(100vh - 200px);
    padding: 20px;
    width: 100%;

    &__content {
      height: 100%;
      margin-inline: auto;
      max-height: 100%;
      max-width: 100%;
      object-fit: contain;
      overflow: hidden;
      width: 100%;

      &.eluvio-player {
        max-width: 100%;
        width: 100%;
      }
    }

    &__info {
      padding: 20px;
      text-align: center;
    }

    &__name {
      font-size: 32px;
    }

    &__description {
      color: #aaa;
      font-size: 14px;
      margin-top: 5px;
    }
  }

  &__error {
    color: #ff0000;
  }

  &__carousel-container {
    margin-inline: 20px;
  }

  &__carousel {
    //margin: 10px;
    height: calc(#{var(--carousel-item-height)} + 50px);
    padding: 15px 0 35px;
    position: relative;
    width: auto;

    &__item {
      height: 100%;
      max-width: var(--carousel-item-height);
      width: var(--carousel-item-height);

      &--wide {
        max-width: calc(#{var(--carousel-item-height)} * 1.5);
        width: calc(#{var(--carousel-item-height)} * 1.5);
      }

      &--tall {
        max-width: calc(#{var(--carousel-item-height)} * 0.75);
        width: calc(#{var(--carousel-item-height)} * 0.75);
      }

      &__button {
        background: transparent;
        border: 1px solid #111;
        border-radius: 3px;
        cursor: pointer;
        height: 100%;
        outline: 0;
        padding: 0;
        width: 100%;
      }

      &__image {
        height: 100%;
        object-fit: cover;
        opacity: 0.5;
        transition: opacity 0.15s ease-out;
        width: 100%;

        &:hover,
        &--active {
          opacity: 1;
        }
      }
    }

    img {
      height: 100%;
      width: 100%;
    }

    .swiper-scrollbar {
      left: 0;
      position: absolute;
      top: 0;
      z-index: 100;

      .swiper-scrollbar-drag {
        background: #333;
        cursor: pointer;
        height: 8px;
        z-index: 100;
      }
    }
  }
}

@media
screen and (max-width: 800px),
screen and (max-height: 800px) {
  :root {
    --carousel-item-height: 100px;
  }

  .app--gallery {
    height: max-content;
    min-height: 100%;
    overflow-x: hidden;
  }

  .gallery {
    height: 100%;
    padding-bottom: 100px;
  }

  .gallery__active-item,
  .gallery--with-title .gallery__active-item {
    height: max-content;
    max-height: unset;
    max-width: 100%;
    overflow: hidden;
  }

  .gallery__active-item__content {
    max-height: 75vh;
  }
}
