:root {
  --carousel-item-height: 150px;

  --title-height: 65px;
  --carousel-height: 200px;
  --arrows-height: 75px;
}

@keyframes fadein {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes fadeout {
  from { opacity: 1; }
  to { opacity: 0; }
}

@mixin page-fade-in($duration: 0.5s, $animation: ease-in) {
  animation: $duration fadein $animation;
}

body,
.app,
.app-background,
.gallery {
  background: transparent;
}


.app-background {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
}

.app {
  z-index: 1;
}

.app--gallery {
  * {
    color: #eee;
  }
}

.gallery {
  flex: 1 0 100%;
  max-width: 100vw;
  width: 100%;
  z-index: 1;

  img {
    font-size: 0;
  }

  &__title {
    font-size: 20px;
    height: var(--title-height);
    display: flex;
    justify-content: center;
    align-items: flex-end;
    text-align: center;
  }

  &__items {
    display: grid;
    grid-template-rows: 1fr;
  }

  &__item {
    display: grid;
    grid-template-rows: max-content 1fr max-content;
    padding: 0 20px;
    width: 100%;
    height: 100%;
    max-height: 100%;

    &__content {
      height: auto;
      margin-inline: auto;
      max-width: 100%;
      object-fit: contain;
      overflow: hidden;
      width: 100%;
      min-height: 100%;

      &--video {
        width: 100%;
      }
    }

    &__placeholder {
      background: #f00;
    }

    &__image,
    &__video,
    &__placeholder {
      max-height: 100%;
      max-width: 100%;
      margin: 0 auto;
      transition: opacity 0.5s linear;
    }

    &__video {
      width: 100%;
      max-height: 100%;

      &.eluvio-player,
      .eluvio-player__video {
        width: 100%;
        object-fit: contain;
      }
    }

    &__info {
      padding: 20px;
      text-align: center;

      &:empty {
        padding: 0;
      }
    }

    &__name {
      font-size: 32px;
    }

    &__description {
      color: #aaa;
      font-size: 14px;
      margin-top: 5px;
    }
  }

  &__error {
    color: #f00;
  }

  &__arrows {
    padding-top: 20px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    height: var(--arrows-height);
  }

  &__arrow-button {
    border: 0;
    outline: 0;
    cursor: pointer;
    width: 50px;
    height: 25px;
    padding: 0 10px 5px;
    background: transparent;
    transition: opacity 0.25s ease-out;

    &:disabled {
      opacity: 0.5;
    }
  }

  &__arrow {
    background: #2d61e4;
    color: #2d61e4;
    width: 100%;
    height: 100%;

    &--previous {
      clip-path: polygon(0% 50%, 100% 0%, 100% 100%);
    }

    &--next {
      clip-path: polygon(0% 0%, 0% 100%, 100% 50%);
    }
  }

  &__page {
    user-select: none;
    margin: 0 30px;
  }

  &__carousel-container {
    height: var(--carousel-height);
    padding: 20px 20px 35px;
  }

  &__carousel {
    height: 100%;
    padding-top: 15px;
    position: relative;
    width: auto;

    &__item {
      height: 100%;
      max-width: var(--carousel-item-height);
      width: var(--carousel-item-height);

      &--wide {
        max-width: calc(#{var(--carousel-item-height)} * 1.5);
        width: calc(#{var(--carousel-item-height)} * 1.5);
      }

      &--tall {
        max-width: calc(#{var(--carousel-item-height)} * 0.75);
        width: calc(#{var(--carousel-item-height)} * 0.75);
      }

      &__button {
        background: transparent;
        border: 1px solid #111;
        border-radius: 3px;
        cursor: pointer;
        height: 100%;
        outline: 0;
        padding: 0;
        width: 100%;
      }

      &__image {
        height: 100%;
        object-fit: cover;
        opacity: 0.75;
        transition: opacity 0.15s ease-out;
        width: 100%;

        &:hover,
        &--active {
          opacity: 1;
        }
      }
    }

    img {
      height: 100%;
      width: 100%;
    }

    .swiper-button-disabled {
      display: none;
    }

    .swiper-scrollbar {
      left: 0;
      position: absolute;
      top: 0;
      z-index: 100;

      .swiper-scrollbar-drag {
        background: #333;
        cursor: pointer;
        height: 8px;
        z-index: 100;
      }
    }
  }
}

@media screen and (min-width: 800px) {
  .app-background-mobile {
    display: none;
  }
}

@media screen and (max-width: 799px) {
  .app-background-desktop {
    display: none;
  }
}

@media screen and (min-width: 800px) and (min-height: 800px) {
  .gallery {
    &--with-title {
      .gallery__items,
      .gallery__item {
        &--carousel {
          height: calc(100vh - var(--carousel-height) - var(--title-height));
          max-height: calc(100vh - var(--carousel-height) - var(--title-height));
          min-height: calc(100vh - var(--carousel-height) - var(--title-height));

          .gallery__item__content {
            max-height: calc(100vh - var(--carousel-height) - var(--title-height));
          }
        }

        &--arrows {
          height: calc(100vh - var(--arrows-height) - var(--title-height));
          max-height: calc(100vh - var(--arrows-height) - var(--title-height));
          min-height: calc(100vh - var(--arrows-height) - var(--title-height));

          .gallery__item__content {
            max-height: calc(100vh - var(--carousel-height) - var(--title-height));
          }
        }
      }
    }

    &__items,
    &__item {
      &--carousel, {
        height: calc(100vh - var(--carousel-height));
        max-height: calc(100vh - var(--arrows-height));
        min-height: calc(100vh - var(--carousel-height));

        .gallery__item__content {
          max-height: calc(100vh - var(--carousel-height));
        }
      }

      &--arrows, {
        height: calc(100vh - var(--arrows-height));
        max-height: calc(100vh - var(--arrows-height));
        min-height: calc(100vh - var(--arrows-height));

        .gallery__item__content {
          max-height: calc(100vh - var(--arrows-height));
        }
      }
    }
  }
}

@media screen and (max-width: 799px) and (min-height: 800px) {
  .gallery {
    &--with-title {
      .gallery__items,
      .gallery__item {
        &--carousel {
          height: calc(100vh - var(--carousel-height) - var(--title-height));
          max-height: calc(100vh - var(--carousel-height) - var(--title-height));
          min-height: calc(100vh - var(--carousel-height) - var(--title-height));

          .gallery__item__content {
            max-height: calc(100vh - var(--carousel-height) - var(--title-height));
          }
        }
      }
    }

    &__items,
    &__item {
      &--carousel, {
        height: calc(100vh - var(--carousel-height));
        min-height: calc(100vh - var(--carousel-height));

        .gallery__item__content {
          max-height: calc(100vh - var(--carousel-height));
        }
      }
    }
  }
}


@media
screen and (max-width: 800px),
screen and (max-height: 800px) {
  :root {
    --carousel-item-height: 100px;
  }

  .app--gallery {
    height: max-content;
    min-height: 100%;
    overflow-x: hidden;
  }

  .gallery {
    height: 100%;
    padding-bottom: 100px;
  }

  .gallery__items,
  .gallery--with-title .gallery__items {
    height: max-content;
    max-height: unset;
    max-width: 100%;
    overflow: hidden;
  }

  .gallery__item {
    &--inactive {
      opacity: 0;
      max-height: 0;
    }

    &--active {
      @include page-fade-in(0.35s);
    }

    &__content {
      max-height: 75vh;
    }
  }
}
