* {
  box-sizing: border-box;
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  font-size: 16px;
}

html,
body,
.app {
  align-items: center;
  display: flex;
  justify-content: center;
  overflow: hidden;
  position: relative;
}

.app {
  display: flex;
  flex-direction: column;
  max-height: 100vh;
}

video {
  background: #000;
  cursor: pointer;
  max-height: 100%;
  max-width: 100%;
  min-height: 100%;
  min-width: 100%;
  object-fit: contain;
  object-position: center;
  z-index: 0;
}

.social-buttons {
  align-items: center;
  display: flex;
  height: 50px;
  justify-content: flex-end;
  padding-right: 15px;
  width: 100%;
  max-width: 100%;

  &__text {
    color: #585858;
    font-size: 18px;
    font-weight: 400;
    margin-right: 15px;
  }

  &__button {
    cursor: pointer;
    height: 23px;
    width: 23px;

    svg {
      height: 100%;
      width: 100%;

      * {
        background: #fff;
      }
    }

    &:not(:last-child) {
      margin-right: 15px;
    }
  }
}

header {
  align-items: center;
  background: #000;
  color: #fff;
  display: flex;
  font-size: 24px;
  font-weight: 400;
  height: 50px;
  justify-content: center;
  letter-spacing: 0.12em;
  margin: 0;
  min-height: 50px;
  text-transform: uppercase;
  width: 100%;
  max-width: 100%;
}

.dark {
  .social-buttons {
    background: #000000;

    &__text {
      color: #bababa;
    }

    svg {
      background: #ffffff;
      border-radius: 5px;
      padding: 2px;
    }
  }
}

@media screen and (max-width: 900px) {
  header {
    font-size: 16px;
  }
}
